.square[data-piece="P"] {
  background-image: url('images/white_pawn.png');
}

.square[data-piece="p"] {
  background-image: url('images/black_pawn.png');
}

.square[data-piece="R"] {
  background-image: url('images/white_rook.png');
}

.square[data-piece="r"] {
  background-image: url('images/black_rook.png');
}

.square[data-piece="N"] {
  background-image: url('images/white_knight.png');
}

.square[data-piece="n"] {
  background-image: url('images/black_knight.png');
}

.square[data-piece="B"] {
  background-image: url('images/white_bishop.png');
}

.square[data-piece="b"] {
  background-image: url('images/black_bishop.png');
}

.square[data-piece="Q"] {
  background-image: url('images/white_queen.png');
}

.square[data-piece="q"] {
  background-image: url('images/black_queen.png');
}

.square[data-piece="K"] {
  background-image: url('images/white_king.png');
}

.square[data-piece="k"] {
  background-image: url('images/black_king.png');
}
